<h1>Client's Details: </h1>

<h2>@Model["client"].GetName()</h2>
<h3>Stylist: @Model["stylist"].GetName()</h3>

<form action='/stylists/@Model["stylist"].GetId()/clients/new' method='get'>
<button type="submit">Add another client</button>
</form>

<form action='/stylists' method='get'>
<button type="submit">View all stylists</button>
</form>

<form action='/stylists/@Model["stylist"].GetId()/clients/@Model["client"].GetId()/delete' method='post'>
<button type="submit">Delete this client</button>
</form>

<form action='/stylists/@Model["stylist"].GetId()/clients/@Model["client"].GetId()/edit' method='get'>
<button type="submit">Edit this client</button>
</form>
