<h1>Add Specialty</h1>

<form action="/specialties" method="post">
  <label for="specialty">Add specialty here:</label>
  <input id="specialty" name="specialty" type="text">
  <button type="submit">Add</button>
</form>

<form action='/specialties' method='get'>
<button type="submit">All specialties</button>
</form>

<form action='/' method='get'>
<button type="submit">Home</button>
</form>
