<h1>Hair Salon Software</h1>

<form action='/stylists' method='get'>
<button type="submit">View All Stylists</button>
</form>

<form action='/stylists/new' method='get'>
<button type="submit">Add a new stylist</button>
</form>
