<h1>Hair Salon Software</h1>

<form action='/stylists' method='get'>
<button type="submit">View All Stylists</button>
</form>

<form action='/specialties' method='get'>
<button type="submit">View all specialties</button>
</form>

<form action='/stylists/new' method='get'>
<button type="submit">Add a new stylist</button>
</form>

<form action='/specialties/new' method='get'>
<button type="submit">Add a new specialty</button>
</form>

<form action='/delete' method='get'>
<button type="submit">clear all tables</button>
</form>
