<h1>Add a stylist</h1>
<p>Add a stylist here:</p>

<form action="/stylists" method="post">
  <label for="stylistName">Name</label>
  <input id="stylistName" name="stylistName" type="text">
  <button type="submit">Add</button>
</form>

<form action='/stylists' method='get'>
<button type="submit">All stylists</button>
</form>

<form action='/' method='get'>
<button type="submit">Home</button>
</form>
