
<h3>Clients of @Model["stylist"].GetName()</h3>

<ol>
@foreach (var client in @Model["clients"])
{
  <li><a href='/stylists/@Model["stylist"].GetId()/clients/@client.GetId()'>@client.GetName()</a></li>
}
</ol>

<form action='/stylists/@Model["stylist"].GetId()/clients/new' method='get'>
<button type="submit">Add a new client</button>
</form>

<form action='/stylists' method='get'>
<button type="submit">View all stylists</button>
</form>

<form action='/' method='get'>
<button type="submit">Home</button>
</form>
